.containerDropdown{
  border: 1px solid black;
  width: 300px;
  height: 50px;
  overflow: hidden;
}

.dropdownSelected{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.active{
  width: 295px;
  height: 300px;
  overflow: scroll;
  padding: 20px;
}

.optionDropdowwn{
  margin: 10px;
}

.dropdownIcon{
  width: 20px;
  height: 20px;
}

.btnDropdown {
  border: 1px solid black;
}