.containerFormNewEmployee{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formAdress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  margin: 10px 0;
}